{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>سامانه فروش بلیط کنسرت</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %} " >
        <link rel="stylesheet" type="text/css" href="{% static 'css/styl.css' %} " >
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %} " >
    </head>

    <body dir="rtl">
        <div class="container">
            <div class="row box">
                <h1>{% block titlepage %} {% endblock%}</h1>
                <ul class="btnul" >
                    {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}"  class="btn btn-danger">خروج</a></li>
                    {% else %}
                    <li><a href="{% url "login" %}" class="btn btn-primary">ورود</a></li>
                    <li><a href="" class="btn btn-primary">ثبت نام</a></li>
                    {% endif %}
                    <li><a href="{% url "home" %}" class="btn btn-success">صفحه اصلی</a></li>
                    <li><a href="{% url "sans" %}" class="btn btn-primary">سانس </a></li>
                    <li><a href="{% url "locatoins" %}" class="btn btn-danger">اطلاعات محل</a></li>
                </ul>
            </div>
            <div class="row">
                  {% block mainContent %}{% endblock%}
            </div>
        </div>
    </body>
    <script src="{% static 'ticketSales/js/jquery.js' %} " ></script>
    <script src="{% static 'ticketSales/js/bootstrap.bundle.js' %} " ></script>
    <script src="{% static 'ticketSales/js/fontawesome.js' %} " ></script>
    <script src="{% static 'ticketSales/js/main.js' %} " ></script>
</html>