@font-face {
    font-family: 'Yekan';
    src:url('../fonts/Yekan.eot?#') format('eot'),
        url('../fonts/Yekan.ttf') format('truetype'),
        url('../fonts/Yekan.woff') format('woff');
        font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'nazanin';
    src:url('../fonts/Nazanin.eot?#') format('eot'),
        url('../fonts/Nazanin.ttf') format('truetype'),
        url('../fonts/Nazanin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Koodak';
    src:url('../fonts/KoodakBold.eot?#') format('eot'),
    url('../fonts/KoodakBold.ttf') format('truetype'),
    url('../fonts/KoodakBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(217, 235, 235) ;
    font-family: "Yekan"  ;
}
a{
    text-decoration: none;
}
p{
    font-size: 20px;
}

.mainborder{
    border:1px solid lightgray;
    margin: 20px;
}

.mylable{
    color: blue;
    width: 100px;
}


.box{
    background-color:mediumturquoise ;
    padding-top: 40px;
    text-align: center;
}

.imageBox{
    margin: 5px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 15px;
    border:1px dashed green;
    padding:10px
}

.imageBox img{
    width: 140px;
    height: 140px;
}

.btnul{
    /* list-style-type: none; */
    padding-left: 0;
}
li{
  list-style-type: none;
}
.btnul li{
    float: left;
    margin-left: 10px;
}
.addressBox{
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 240, 240);
    margin-top: 3px;
    border: 1px dashed rgb(26, 26, 22);
    border-radius: 5px;

}
.addressBox img,.timesBox img{
    width: 220px;
    height: 220px;
}
.timesBox{
    text-align: center;
    background-color: rgb(232, 240, 240);
    margin-top: 3px;
    border: 1px dashed rgb(26, 26, 22);
    border-radius: 5px;
}
.capacityStatus{
    border: 1px dashed gray;
    margin: 10px;
    background-color: aqua;
    border-radius: 10px;
} 

.navbar{
    background-color: blueviolet !important;
    margin-left: 10px !important;
}
.brdr{
    border: 3px dashed gray;
}